<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="googleOidcDiscoveryDocument" value="https://accounts.google.com/.well-known/openid-configuration"/>
		<add key="googleRedirectURI" value="http://localhost:43517/oauth2callback"/>
		<add key="googleClientID" value="YourClientID"/>
		<add key="googleClientSecret" value="YourClientSecret"/>		
		<add key="googleRequestsProxyAddress" value=""/>
		<add key="authenticationCallbackUrl" value="oauth2callback"/>	<!--	Note that this settings configures the HttpHandler for the callback in the Global.asx.cs -->
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!-- Enable .net FormsAuthentication-->
		<authentication mode="Forms">			
			<!-- Set the page containing the AuthenticationUtility.Authenticate method as your login page-->
			<forms loginUrl="LoginRedirect.aspx" path="/" requireSSL="false"/>
		</authentication>
	</system.web>
  <location path="Secure"> <!-- Let's keep the folder "Secure" secure :-) -->
    <system.web>
      <authorization>
        <deny users="?"/>
				<!-- Deny all anonymous -->
      </authorization>
    </system.web>
  </location>
</configuration>
